pkgbase = bilibili-bin
	pkgdesc = 基于 Bilibili PC 版修改的一个 Electron 打包
	pkgver = 1.11.4
	pkgrel = 4
	arch = any
	depends = electron
	depends = libappindicator-gtk3
	depends = ffmpeg
	source = bilibili-bin-v1.11.4-4.tar.gz::https://github.com/msojocs/bilibili-linux/releases/download/v1.11.4-4/bilibili-v1.11.4-4-x86_64.tar.gz
	source = bilibili.desktop::https://raw.githubusercontent.com/msojocs/bilibili-linux/master/res/bilibili.desktop
	source = bilibili.svg::https://raw.githubusercontent.com/msojocs/bilibili-linux/master/res/icons/bilibili.svg
	sha256sums = 9664d34c496084019107f9379f10049313bcb76a0d8b1c2335f4b6eced12b511
	sha256sums = 2e7065c4255edcf39a9d07c83ae81e7c8a9b650c7a570c56e255e5647fd535d4
	sha256sums = 3a7935d2d13d62fad68b4ee5aaa4832e6a202b379f2be2f80d3723f8f3993192

pkgname = bilibili-bin
