pkgbase = bilibili-bin
	pkgdesc = 基于 Bilibili PC 版修改的一个 Electron 打包
	pkgver = 1.12.1
	pkgrel = 1
	arch = any
	depends = electron
	depends = libappindicator-gtk3
	depends = ffmpeg
	source = bilibili-bin-v1.12.1-1.tar.gz::https://github.com/msojocs/bilibili-linux/releases/download/v1.12.1-1/bilibili-v1.12.1-1-x86_64.tar.gz
	source = bilibili.desktop::https://raw.githubusercontent.com/msojocs/bilibili-linux/master/res/bilibili.desktop
	source = bilibili.svg::https://raw.githubusercontent.com/msojocs/bilibili-linux/master/res/icons/bilibili.svg
	sha256sums = 4fba789c9f23c35be3474e884655e3bb209011fce1045d08d8c19679145730bc
	sha256sums = 2e7065c4255edcf39a9d07c83ae81e7c8a9b650c7a570c56e255e5647fd535d4
	sha256sums = 3a7935d2d13d62fad68b4ee5aaa4832e6a202b379f2be2f80d3723f8f3993192

pkgname = bilibili-bin
